{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Paste Text</h1>

<a href="/pastes">Show Recent</a>

<form action="paste" method="POST">
  <table>
    <tr>
      <td>Text Data</td>
      <td><textarea name="data" rows=5 cols=80></textarea></td>
    </tr>
    <tr>
      <td>Format</td>
      <td><input type="text" name="format" /></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" /></td>
    </tr>
  </table>
</form>

<h1>Code Snippet</h1>

<form action="code-snippet" method="GET">
  <table>
    <tr>
      <td>URL</td>
      <td><input type="text" name="url" /></td>
    </tr>
    <tr>
      <td>starting line number</td>
      <td><input type="text" name="start" /></td>
    </tr>
    <tr>
      <td>ending line number</td>
      <td><input type="text" name="end" /></td>
    </tr>

    <tr>
      <td></td>
      <td><input type="submit" /></td>
    </tr>
  </table>
</form>

{% endblock %}
